
.shipBoxContainer > .size4ShipImg {
    width: 200px;
    bottom: 0;
    right: -40px;
}

.shipBoxContainer > .size3ShipImg {
    width: 130px;
    bottom: 0;
    left: -8px;
}

.shipBoxContainer > .size2ShipImg {
    width: 95px;
    bottom: 0;
    left: -14px;
}

.shipBoxContainer > .size1ShipImg {
    width: 50px;
    bottom: 0;
    left: -5px;
}

.shipImg {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.size4ShipImg {
    width: 260px;
    bottom: 2px;
    right: -200px;
    transform-origin: 12.5%;
}

.size3ShipImg {
    width: 350%;
    right: -115px;
    top: 2px;
    transform-origin: 20%;
}
.size2ShipImg {
    width: 250%;
    right: -60px;
    top: 3px;
    transform-origin: 32%;
}
.size1ShipImg {
    width: 130%;
    right: -9px;

    top: 6px;
    transform-origin: 46% 54%;
}

.vertivalShipImg {
    rotate: 90deg;
    /*bottom:-90px;
  right: 103px;*/
}

.hitGif {
    width: 200%;
    position: relative;
    z-index: 2;
    top: -58px;
    left: -25px;
}

.waterHitGif {
    width: 200%;
    position: relative;
    z-index: 2;
    top: -30px;
    left: -20px;
}

.fireEffect {
    position: absolute;
    z-index: 3;
    width: 90%;
    top: -10px;
    left: 2px;
    pointer-events: none;
}